.custom-scroll {
    max-height: 90px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(65, 104, 221) #f0f0f0;
}

.custom-scroll::-webkit-scrollbar {
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(65, 104, 221);
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(65, 104, 221);
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:vertical {
    width: 10px;
}